/*----------------------------------------------11.03-----------------------------------------------------*/
.columns-holder-area-tv {
	width:830px;
	overflow:hidden;
	padding:25px 0 0 55px;
}

.columns-holder-area-tv #gallery {
	overflow:hidden;
	padding: 5px 0 0 5px;
}
.columns-holder-area-tv #gallery a {
	position:relative;
}
.columns-holder-area-tv #gallery a.link-prev {
	background:url(../images/tv/arrow-prev.png) no-repeat;
	float:left;
	width:38px;
	height:60px;
	text-indent:-9999px;
	overflow:hidden;
	margin-top:80px;
	 opacity: .4;
    -moz-opacity: .4;
    -webkit-opacity: .4;
}

.columns-holder-area-tv #gallery a.link-next {
	background:url(../images/tv/arrow-next.png) no-repeat;
	float:left;
	width:38px;
	height:60px;
	text-indent:-9999px;
	overflow:hidden;
	margin-top:80px;
    opacity: .4;
    -moz-opacity: .4;
    -webkit-opacity: .4;
}

.columns-holder-area-tv #gallery a.link-prev:hover,
.columns-holder-area-tv #gallery a.link-next:hover {
    opacity: .7;
    -moz-opacity: .7;
    -webkit-opacity: .7;
}
.columns-holder-area-tv #gallery div.list {
	float:left;
	width:717px;
	overflow:hidden;
	position:relative;
	margin:0 5px 0 5px;
}
.columns-holder-area-tv #gallery div ul {
	position:relative;
	width:99999px;
	padding:0;
	margin:0;
	list-style:none;
}
.columns-holder-area-tv #gallery div.list ul li {
	float:left;
	width:687px;
	padding-right:30px;
}
.columns-holder-area-tv #gallery ul li .tv-holder {
	float:left;
}
.columns-holder-area-tv #gallery ul li .tv-holder img {
	display:block;
}
.columns-holder-area-tv #gallery ul li .text-box {
	float:right;
	margin-top:35px;
	width:316px;
	height:150px;
	background:url(../images/tv/tv-text-box.png) no-repeat;
}
.columns-holder-area-tv #gallery ul li .text-box {
	float: right;
	margin-top: 35px;
	width: 288px;
	height: 132px;
	padding: 20px 0px 0px 28px;
	color: #666;
	background: #f1f1f1;
    border: solid 1px #e9e9e9;
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.5);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.5);
}
.columns-holder-area-tv #gallery ul li .text-box p.title {
	margin:0 0 20px;
	font-size:24px;
	letter-spacing:-1px;
}
.columns-holder-area-tv #gallery ul li .text-box strong {
	display:block;
	font-size:18px;
	padding-left:5px;
}
.columns-holder-area-tv #gallery ul li .text-box span {
	display:block;
	font-size:14px;
	padding-left:5px;
}
.columns-holder-area-tv #gallery ul li .text-box a {
	color:#666665;
	text-decoration:none;
}
.columns-holder-area-tv #gallery ul li .text-box a:hover {
	text-decoration:underline;
}
.columns-holder-area-tv .title-box {
	margin:81px 0 20px 29px;
	background:url(../images/tv/tv-title.png) no-repeat;
	height:61px;
	padding:0 0 0 318px;
}
.columns-holder-area-tv .title-box ul 
{
    float: right;
	margin-right: 25px;
	padding:18px 0 0;
	list-style:none;
	font-size:18px;
	font-weight:bold;
}
.columns-holder-area-tv .title-box ul li {
	float:left;
	padding-right:16px;
	white-space:nowrap;
}
.columns-holder-area-tv .title-box ul a {
	float:left;
	color:#b0b0b0;
	text-decoration:none;
	padding-bottom:11px;
	background:url(../images/tv/tv-a-bg.gif) repeat-x 0 100%;
}
.columns-holder-area-tv .title-box ul a:hover ,
.columns-holder-area-tv .title-box ul a.active {
	background:url(../images/tv/tv-hover.gif) repeat-x 0 100%;
	color: #b0b0b0;
}
/*------------------------------------------------end-----------------------------------------------------*/
/*------------------------------------------------12.03-----------------------------------------------------*/
.columns-holder-area-tv .otherm {
	margin-left:99px;
	margin-bottom: 20px;
}
.columns-holder-area-tv .top-title {
	padding:5px 105px 20px 105px;
	height:1%;
	overflow:hidden;
}
.columns-holder-area-tv .top-title h1 {
	margin:0;
	font-size:25px;
	color: #85A683;
	text-transform:uppercase;
	letter-spacing:-1px;
}
.columns-holder-area-tv .top-title h2 {
	margin:0;
	font-size:18px;
	line-height:21px;
	color:#B0B0B0;
	font-weight:normal;
}
.columns-holder-area-tv .top-title a.back {
	float:right;
	width:189px;
	height:34px;
	margin-top:3px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/tv/back-to-img.gif) no-repeat;
}
.columns-holder-area-tv .top-title a.back-channel {
	float:right;
	width:137px;
	height:24px;
	margin-top:3px;
	margin-right:54px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/tv/back-to-channel.gif) no-repeat;
}
.columns-holder-area-tv .player-holder {
	padding:41px 0 55px 105px;
}
.columns-holder-area-tv .player-holder .player {
	width:640px;
	height:360px;
	margin-bottom:34px;
}
.columns-holder-area-tv .player-holder a.email {
	padding-left:23px;
	background:url(../images/tv/mail.png) no-repeat 0 50%;
	color: #A3A3A3;
	text-decoration:none;
	font-size:14px;
}
.columns-holder-area-tv .player-holder a.email:hover {
	text-decoration:underline;
}

.columns-holder-area-tv .player-holder a.donate
{
    margin-left: 10px;
	padding-left:23px;
	background:url(../images/tv/money2.png) no-repeat 0 50%;
	color: #A3A3A3;
	text-decoration:none;
	font-size:14px;
}

/*------------------------------------------------end-----------------------------------------------------*/
/*------------------------------------------------2009.07.20------------------------------------------------*/
.columns-holder-area-tv .player-holder div.description {
	color: #fff;
	width:640px;
	margin-bottom:34px;
}
/*------------------------------------------------end-----------------------------------------------------*/

/*------------------------------------------------16.03---------------------------------------------------*/
.columns-holder-area-tv #gallery ul li .white-box-top {
	margin-left:65px;
	background:#f7f7f7;
	padding-top:12px;
	width:568px;
}
.columns-holder-area-tv #gallery ul li .white-box-btm {
	background:#f7f7f7;
	padding-bottom:13px;
}
.columns-holder-area-tv #gallery ul li .white-box {
	background:#f7f7f7;
	width:545px;
	padding:0 10px 0 13px;
	overflow:hidden;
}
.columns-holder-area-tv #gallery ul li .white-box h2 {
	margin:-3px 0 8px 0;
	font-size:18px;
	line-height:21px;
	color:#666665;
	font-weight:normal;
}
.columns-holder-area-tv #gallery ul li .white-box .img-holder {
	/*background:url(../images/tv/white-box-separator.gif) repeat-x 0 100%;*/
	width:542px;
	padding-bottom:1px;
}
.columns-holder-area-tv #gallery ul li .white-box .img-holder img {
	display:block;
}
.columns-holder-area-tv #gallery ul li .white-box .text-holder {
	padding:9px 0 0 3px;
}
.columns-holder-area-tv #gallery ul li .white-box .text-holder h2 {
	padding-top: 10px;
}
.columns-holder-area-tv #gallery ul li .white-box p {
	margin:0 0 8px;
	color: #B0B0B0;
	font-size:14px;
	line-height:17px;
}
.columns-holder-area-tv #gallery ul li .white-box .links-holder {
	list-style:none;
	font-weight:bold;
	line-height:39px;
}
.columns-holder-area-tv #gallery ul li .white-box .links-holder .inactive-topic {
	display:block;
	width:535px;
	height:39px;
	color:#fff;
	text-decoration:none;
	background:#c1d9bf;
	padding-left:3px;
	font-size:18px;
	margin-top:4px;
}
.columns-holder-area-tv #gallery ul li .white-box .links-holder li {
	display:block;
	width:530px;
	height:39px;
	background:#85A683;
	padding-left:5px;
    padding-right: 5px;
    float: none;
	font-size:16px;
	margin-top:4px;
}
.columns-holder-area-tv #gallery ul li .white-box .links-holder li:hover {
	color:#fff;
	background:#626262;
}

.columns-holder-area-tv #gallery ul li .white-box .links-holder li a {
    color:#f7f7f7;
	text-decoration:none;
}

.columns-holder-area-tv #gallery ul li .white-box .links-holder li a:hover {
    color: #fff;   
}

/* Added 6/23/2010 for Facebook like integration */
iframe.facebook-like 
{
    border:none;
    width:450px;
    height:80px;
    padding-top: 15px;
}

.columns-holder-area-tv #gallery ul li .white-box .links-holder li a.companion {
    font-size: 14px;
    font-weight: bold;
    float: right;
    color: rgba(255, 255, 255, 0.8);
}