/* 

Elegance - CSS File

* $Workfile: style_colormyworld.css $
* $Revision: 4 $
* $Header: /trunk/Arena/Templates/Cccev/007/css/style_colormyworld.css   4   2011-11-22 15:36:21-07:00   nicka $

*/

@font-face {
    font-family: 'TerminalDosis';
    src: url('TerminalDosis-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


/*** GLOBAL  ***/
body {
	font-family:Arial, Tahoma, Verdana;
	font-size:12px;
	margin:0 auto;
	padding:0;
	color:#91c04c;
	line-height:20px;
	background-color:#333;
	cursor: url(cursor.gif),auto;
}
* {
	margin:0;
	padding:0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}
.clear{clear:both; height:1px !important; line-height:1px !important}
form{margin:0; padding:0;}
fieldset{border:0px;}

hr {
	border: 0;
	color: #f2f2f2;
	background-color: #f2f2f2;
	height: 1px;
	margin:5px 0px 20px 0px;
	padding:0px;
}
*+html hr{margin:0px 0px 5px 0px;}

/*** END OF GLOBAL  ***/

/*** DEFAULT ELEMENT STYLES ***/
/* heading */
h1, h2{margin-bottom:12px; font-family:TerminalDosis, Arial, Verdana; font-weight:normal;}
h3, h4, h5{margin-bottom:8px; font-family:Arial, Verdana; font-weight:normal;}
h6{margin-bottom:10px; font-family:Arial, Verdana; font-weight:normal;}
h1 {font-size:28px; line-height:30px;font-family: TerminalDosis, Arial, Verdana;}
h2 {font-size:20px; line-height:24px;}
h3 {font-size:18px; line-height:20px;}
h4 {font-size:14px; line-height:25px;}
h5 {font-size:13px; line-height:15px;}
h6 {font-size:16px; line-height:30px; background-color:#ffc50c; vertical-align:middle; height:34px; text-indent:8px;}

h1 {color:#01ace2;}
h2 {color:#5edb41;}
h3 {color:#e9107b;}
h4 {color:#dc0bb2;}
h5 {color:#ff983a;}
h6 {color:#ee1c25;}


dl > dt,
dl > dd {
    display: block;
    float: none;
    clear: both;
}

/* links */
a, a:visited {color:#cbda29; text-decoration:underline; cursor: url(cursor.gif),auto;}
a:hover{color:#cbda29; text-decoration:none; cursor: url(cursor.gif),auto;}
a img{border:none; cursor: url(cursor.gif),auto;}
/* float align */
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignnone,
img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


img.alignleft, 
img.alignright, 
img.aligncenter,
img.alignnone {
	margin-bottom: 12px;
}
img.alignleft, img.alignright, img.aligncenter, img.alignnone {background-color:#fff; padding:5px;}

/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	margin-bottom:20px;
}
ul, ol {
	margin:10px 0 20px 20px;
}
li ol,
li ul
{
	list-style:square;
	margin-bottom:0;
	margin-top:0;
}
li ol {list-style:decimal;}
	
blockquote {
	background-image:url(../images/quote.gif);
	background-repeat:no-repeat;
	font-size:20px !important;
	line-height:25px;
	margin-bottom:20px;
	color:#333;
	padding:5px 0 0 20px;
	}
blockquote.left, blockquote.right  {
	background-image:url(../images/quote.gif);
	background-repeat:no-repeat;
	color:#333;
	float:right;
	font-size:20px;
	line-height:25px;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:5px;
	padding:5px 0 0 20px;
	width:53%;
	}
blockquote.left{
	float:left;
	margin-left:0px;
	margin-right:20px;}
	

/* code */
code {
	font-family:Arial, Verdana;
	padding:12px 20px 12px 10px;
	background-color:#e6e6e6;

	border-radius: 6px;
	border:solid 1px #dbdbdb;
	border-width:0px 0px 0px 7px;
	margin:10px 0px;
	display:block
}

/*** END OF DEFAULT ELEMENT STYLES ***/
.editImage { position: absolute; }

/*** CONTAINER ***/
#wrapper{width:100%;}
#container-top{background-image:url(../images/bg-container-top-color.gif); background-repeat:repeat-x; background-color:#f7f7f7}
#container-bottom{ background-image:url(../images/bg-container-bottom-color.gif); background-repeat:repeat-x; background-color:#333333; height:100px; }
.container{width:940px; margin:0 auto;}

/* TOP */
#top{height:98px; position:relative; z-index:10; padding-top:6px; width:940px; float:left }
#top-left{width:175px; float:left;}

#logo h1 a{text-decoration:none !important;}
#logo h1{font-size:40px; line-height:normal; padding-top:10px; margin-bottom:0px !important}

#top-right{width:765px; float:left;}

#top-search{ text-align:right; padding:10px 0px 0px 0px;}

#top-navigation .search { 	padding-left: 0px; padding-top: 3px; float: right;}
#top-search p{margin:0px;}
#top-search form{margin:0px; padding:0px;}
#top-navigation{padding:30px 0px 0px 0px; }

#top-navigation > nav {
	float: right;
	width: 575px;
	height: 40px;
}

#top-navigation > .search {
	width: 130px;
}

#MesaCS a{
	display:block;
	width:175px;
	height:104px;
	background:url('../images/campus_select_color.png') 0 0;}
#MesaCS a:hover{
	width:175px;
	height:104px;
	background: url('../images/campus_select_color.png') 0 104px;}


#GilbertCS a{	
	display:block;
	width:175px;
	height:104px;
	background:url('../images/campus_select_color.png') 525px 0;}
#GilbertCS a:hover{
	width:175px;
	height:104px;
	background: url('../images/campus_select_color.png')  525px 104px;}


#QueenCreekCS a{
	display:block;
	width:175px;
	height:104px;
	background:url('../images/campus_select_color.png') 350px 0;}
#QueenCreekCS a:hover{
	width:175px;
	height:104px;
	background: url('../images/campus_select_color.png') 350px 104px;}


#GlendaleCS a{
	display:block;
	width:175px;
	height:104px;
	background:url('../images/campus_select_color.png') 175px 0;}
#GlendaleCS a:hover{
	width:175px;
	height:104px;
	background: url('../images/campus_select_color.png') 175px 104px;}

.main-nav ul > li > a {
    color: #d06aab;
    display: block;
    height: 18px;
    padding: 5px 0 0;
    text-decoration: none;
}	
main-nav li {
    display: block;
    float: left;
    font-size: 14px;
    list-style-type: none;
}
.main-nav > li > a {
    font-size: 14px;
    padding-top: 0;
    text-decoration: none;
}
.main-nav ul > li > a {
    color: #d06aab;
    display: block;
    height: 18px;
    padding: 5px 0 0;
    text-decoration: none;
}
.main-nav > li {
    padding-left: 30px;
}
.main-nav > li > ul {
    display: none;
}
.main-nav li a.drop, .main-nav li a.campus {
    background: url("../img/nav-drop.png") no-repeat scroll 94px 34px transparent;
}
.main-nav li a:hover, .main-nav li a.drop:hover, .main-nav li a.campus:hover, .main-nav li a.selected {
    color: #d06aab;
}
/*#top-navigation ul{margin:0px; padding: list-style-type:none; float:right}
#top-navigation ul ul{margin:0px; padding:0px; list-style-type:none; position:relative; z-index:100}
#top-navigation li{list-style-type:none; padding:0px; margin:0px; float:left; position:relative;}
#top-navigation li a{font-size:14px; display:block; padding:4px 0px 12px 0px; margin:0px 0px 0px 30px; float:left; color:#cbda29; text-decoration:none;}
* html #top-navigation li a{margin:0px 0px 0px 15px;}
#top-navigation li a.current{color:#333;}
#top-navigation li a:hover{color:#333; text-decoration:none;}
#top-navigation ul li li{
margin:0 0 0px 0px;
padding:0px;
position:relative;
z-index:100;
border-width:1px 1px 0px 1px !important;
}
#top-navigation ul ul {
display:none;
left:20px;
position:absolute;
top:34px;
width:159px;
z-index:200 !important;
padding:0px 0px 5px 0px;
background-color:#f7f7f7;
border:solid 0px #e9e9e9 !important;
border-width:0px 1px 1px 1px !important ;

}
*/

/* * html #top-navigation ul ul{top:31px; border-width:0px 0px 1px 0px !important;}/* ie 6 only */
/* * +html #top-navigation ul ul{top:32px; border-width:0px 1px 1px 1px !important;}/* ie 7 only */

/*
#top-navigation ul li ul a{
width:125px;
height:auto;
float:left;
text-align:left;
padding:2px 10px 5px 10px;
margin:0px;
border:0px !important;
text-transform:capitalize;
font-size:12px;
font-weight:normal;
z-index:200 !important;
}
#top-navigation ul li ul a:hover{padding:2px 10px 5px 10px;}
#top-navigation ul ul ul{top:auto;border-top:none;}	
#top-navigation ul li ul ul {left:159px; top:0px;}
#top-navigation ul li:hover ul ul, #top-navigation ul li:hover ul ul ul, #top-navigation ul li:hover ul ul ul ul
{display:none;}
#top-navigation ul li:hover ul, #top-navigation ul li li:hover ul, #top-navigation ul li li li:hover ul, #top-navigation ul li li li li:hover ul
{display:block;}
#top-navigation ul li ul a{border-top:none;}
*/
.search-box {
    background: none repeat scroll 0 0 #FFF;
    background-image: url("../images/search_lg.png");
    background-position: left center;
    background-repeat: no-repeat;
    border: 1px solid #E6E6E6;
    color: #000000;
    font-size: 24px;
    height: 30px;
    margin-left: -5px;
    padding: 5px;
    width: 775px;
    text-indent: 50px;
}

input.searchBtn {
    display: block;
    float: left;
    padding-right: 10px;
}

/* HEADER */
#header{width:940px; height:400px; margin:20px 0px 20px 0px !important; clear:both; background-color:#FF0; float:left}
* html #header{margin:10px 0px 10px 0px !important;}
#header-slide{padding:10px;}
#header-slide ul{list-style-type:none; margin:0px; padding:0px;}
#header-inner-right > p { line-height: 15px; }

/* CONTENT */
#main{padding:40px 0px 40px 0px; width:940px; clear:both}
#main-inner{padding:20px 0px 40px 0px; width:940px;}
#content{width:590px; float:left; padding-right:40px;position: relative;}
* html #content{padding-right:30px;}/* ie 6 only */
#contentfull{width:940px; float:none; padding-right:0px;}
.col1{width:275px; float:left; }
.col2{width:275px; float:left; margin-left:30px;}
.col3{width:275px; float:left; margin-left:30px;}
/*==== widget ====*/
#side-left{width:310px; float:left;}
#side-right{width:310px; float:left;}
.box-side-r{background-image:url(../images/bg-box-right-repeat.gif); background-repeat:repeat-y; width:310px;}
.box-side-t{background-image:url(../images/bg-box-right-top.gif); background-repeat:no-repeat; width:310px; background-position:top}
.box-side-b{background-image:url(../images/bg-box-right-bottom.gif); background-repeat:no-repeat; width:310px; background-position:bottom}
.box-side-padd{padding:20px 30px;}
.widget-area ul {list-style: none;margin: 0;}
.widget-area ul ul {margin:0px 0px 10px 0px !important}
.widget-area ul ul li ul {margin:0px 0px 5px 0px !important;}

.widget-area{margin:0px 0px 20px 0px;}

.widget-area ul ul li {
	list-style: none;
	margin-left: 0 ;
	list-style-position:outside !important;
	padding:5px 0px 5px 12px;
	font-size: 14px;
}

.widget-area a, .widget-area a:hover {
	color: #999;
}

.widget-area ul > li > .nav-holder > .side-nav > li {
	border-bottom:solid 1px #e6e6e6;
	background-image:url(../images/arrow.gif);
	background-repeat:no-repeat;
	background-position:0px 11px;
}

.widget-area ul > li > .nav-holder > .side-nav > li:last-child {
    border-bottom: none;
}

.widget-area ul > li > .nav-holder > .side-nav > li > a {
	color: #cbda29;
}

.widget-area .widget-no-box ul ul li{background-image:none; padding:5px 0px;}
.widget-container {margin: 0 0 18px 0;}
.widget-title {font-weight: bold;margin-bottom:6px}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {font-size: 11px;}
.widget-area .textwidget{padding:10px 0px 5px 0px;}
.widget-area blockquote{font-size:12px !important; line-height:18px;}
/*==== Dropcaps ====*/
.letercap{
	color:#333333;
	display:block;
	float:left;
	font-size:40px;
	line-height:40px;
	margin:0 8px 0 0;}
.bk-right{ float:right; width:30%; margin-left:20px;}
.bk-left{ float:left; width:30%;}

/*==== Highlight ====*/
.highlight1{padding:1px 4px;background-color:yellow;color:#111;}	
.highlight2{background-color:#000; color:#FFF; min-width:275px;}	



/*table {border-collapse:separate;border-spacing:0;width:100%;border-top:1px solid #f2f2f2;margin-bottom:18px;}
table,td,th { text-align:left;}
table {
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr td {

	padding: 6px 24px;
}*/
/*==== Tables th{padding:10px;color:#cbda29;text-transform:uppercase;}
td{padding:10px;color:#888;}
tfoot td{border:0px;}
th,tr:hover{background-color:#ececec;}

tr th,
thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}

tr.odd td {
	background: #F2F7FC;
}====*/


/* FOOTER */
#footer{height:80px;  float:left; padding:20px 0px 0px 0px; font-size:11px;}
#social{height:80px; float:right; padding:20px 0px 0px 0px; font-size:11px;}

/* CentralAZ RECENT BLOG ITEMS */
.recentblog {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.recentblog li {
	display: block;
	clear: both;
}

.recentblog > li > a {
    display: inline-block;
    padding-top: 15px;
}

.recentblog img {
	margin: 5px 10px 5px 0;
	float: left;
	border: 4px solid #e8e8e8;
	background: #e8e8e8;
	-moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, .7);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, .7);
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, .7);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.recentblog span {
	font-size: 9px;
	color: #888;
	font-style: italic;
}

input[type="checkbox"] {
	margin: 3px 3px 3px 4px;
}

input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
    border: 1px solid #bbbbbb; 
    background: #e9e9e9 url(images/ui-bg_flat_100_e9e9e9_40x100.png) 50% 50% repeat-x; 
    font-weight: normal; 
    color: #cbda29cbda29;
    font-family: Helvetica,Arial,sans-serif; 
    font-size: 14px;
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    -khtml-border-radius: 7px; 
    border-radius: 7px;
    display: inline-block;
    *display: inline;
    position: relative; 
    padding: 5px 10px;
    margin-right: 1em; 
    text-decoration: none !important; 
    zoom: 1; 
    overflow: visible;
    margin: .3em;
}

input[type="button"],
input[type="submit"],
.buttonStyle,
.button {
    cursor: pointer;
    text-align: center;
    border: 1px solid #5f7e5d !important; 
    background: #85a683 url(images/ui-bg_flat_100_85a683_40x100.png) 50% 50% repeat-x; 
    font-weight: normal; 
    color: #f7f7f7 !important;
    padding: 7px 15px;
    text-decoration: none !important;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 5px 0;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
.buttonStyle:hover,
.button:hover {
    border: 1px solid #85a683; 
    background: #edf3ec url(images/ui-bg_flat_100_edf3ec_40x100.png) 50% 50% repeat-x;
    color: #333333 !important;
    text-decoration: none;
    text-decoration: none !important;
}

.widget-area ul > li > .nav-holder > .side-nav > li.open {
    background-image:url(../images/arrow-down.gif);
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl, .buttonStyle, .button { -moz-border-radius-topleft: 7px; -webkit-border-top-left-radius: 7px; -khtml-border-top-left-radius: 7px; border-top-left-radius: 7px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .buttonStyle, .button { -moz-border-radius-topright: 7px; -webkit-border-top-right-radius: 7px; -khtml-border-top-right-radius: 7px; border-top-right-radius: 7px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl, .buttonStyle, .button { -moz-border-radius-bottomleft: 7px; -webkit-border-bottom-left-radius: 7px; -khtml-border-bottom-left-radius: 7px; border-bottom-left-radius: 7px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br, .buttonStyle, .button { -moz-border-radius-bottomright: 7px; -webkit-border-bottom-right-radius: 7px; -khtml-border-bottom-right-radius: 7px; border-bottom-right-radius: 7px; }

#top-navigation .inputbox,
#top-navigation .inputbox:hover
{
    background: #fff url(../images/icon-search.gif); 
    background-repeat:no-repeat; 
    background-position:right; 
    border:solid 1px #e6e6e6; 
    width:150px; 
    padding:2px;
	box-shadow: inset 0px 0px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 0px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 0px 0px rgba(0,0,0,0.1);
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.ajax__calendar_container {
	background: #f1f1f1;
	box-shadow: 0 0 7px 0px rgba(50, 50, 50, .7);;
	-webkit-box-shadow: 0 0 7px 0px rgba(50, 50, 50, .7);
	-moz-box-shadow: 0 0 7px 0px rgba(50, 50, 50, .7);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px !important;
	border: 1px solid #ccc;
	margin-top: 3px;
	font-family: Helvetica, Arial, Verdana !important;
    z-index: 10;
}

.ajax__calendar_container tr td {
    padding: 0px !important;
}

.campuses {
    padding-bottom: 20px;
}

#campus-picker .ui-state-active {
    box-shadow: 0 0 7px 0px rgba(50, 50, 50, .4);
	-webkit-box-shadow: 0 0 7px 0px rgba(50, 50, 50, .4);
	-moz-box-shadow: 0 0 7px 0px rgba(50, 50, 50, .4);
}

#giving-buttons {
    display: block;
    margin: 10px auto;
    width: 580px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

#giving-buttons > li {
    display: block;
    float: left;
    font-size: 20px;
}

#giving-buttons > li > a {
    box-shadow: 0 0 7px 0px rgba(50, 50, 50, .4);
	-webkit-box-shadow: 0 0 7px 0px rgba(50, 50, 50, .4);
	-moz-box-shadow: 0 0 7px 0px rgba(50, 50, 50, .4);
    padding: 10px 20px;
    margin: 0px 20px;
}

.col1 > a,
.col1 > a:visited {
    text-decoration: none;
    
}

.col1 > a,
.col1 > a:visited {
    text-decoration: none;
}

.pnlLogin ul {
    height: 110px;
}

.pnlLogin li {
    list-style-type: none;
}

.pnlLogin li label {
    display: block;
    float: left;
    width: 70px;
}


.imageSmall{
	display: block;
	border: 7px solid #ffffff;
	background: #f7f7f7;
	-moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, .7);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, .7);
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, .7);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.imageMedium{
	display: block;
	border: 5px solid #ffffff;
	background: #f7f7f7;
	-moz-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, .7);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, .7);
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, .7);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.imageLarge, .promotionImage {
	display: block;
	border: 8px solid #ffffff;
	background: #f7f7f7;
	-moz-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, .7);
	-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, .7);
	box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, .7);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.img-box{
	display: block;
	border: 5px solid #ffffff;
	background: #f7f7f7;
	-moz-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, .7);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, .7);
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, .7);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	/* did someone add this on WEB01 and forget to check it in? -Nick */
	width: 580px;
}
.staffimage{

	width: 150px;
	display: block;
	float: left;
	border: 5px solid #e8e8e8;
	background: #e8e8e8;
	-moz-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, .7);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, .7);
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, .7);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.staffcampus{

	width: 100px;
	display: block;
	float: left;
	border: 3px solid #e8e8e8;
	background: #e8e8e8;
	-moz-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, .7);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, .7);
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, .7);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/* float the edit pencil (image) over the item so it does not distort the layout */
input[type=image].editor
{
	opacity: 0.5;
	filter:alpha(opacity=30); /* stupid IE8 still can't handle opaque PNGs */
	position: absolute;
	float: left;
	z-index: 99;
}
input[type=image].editor:hover
{
	opacity: 1;
	filter: none;
}

/* Style rules for Arena artifacts */

/* Search */
.searchResults
{
	line-height: normal;
	float: none;
	clear: both;
}

	.search-box
	{
		height: 30px;
		width: 775px;
		background: #85A683;
		padding: 5px;
		color: #000000;
		font-size: 24px;
		border: none;
		margin-left: -5px;
	}

.searchResultSummary
{
	padding-top: 10px;
	color: #b0b0b0;
}

.searchResults .searchResult
{
	padding: 15px 10px 20px 10px;
	font-size: 14px;
}

	.searchResults table
	{
		background: #ffffff;
	}
	
	.searchResult a
	{
		color: #85A683;
	}

	.searchResultTitle
	{
		padding-bottom: 5px;
	}

		.searchResultTitle a
		{
			color: #85A683;
			font-size: 20px;
		}
		
		.searchResultLink a
		{
			text-decoration: none;
		}
		
	.searchResultDescription
	{
		color: #443444;
	}

	.alt-row td
	{
		background: #f1f1f1;
	}
	
	.searchResultMeta
	{
		color: #b0b0b0;
	}
	
.searchResultsPager td
{
	font-size: 14px;
	color: #443444;
	padding: 20px 0px 30px 0px;
	font-weight: bold;
}

.searchResultsPager a
{
	color:  #85A683;
}

/* Arena Promotion Details; also found above with the imageLarge class */
.promotionImage
{ 
	width: 580px;
	margin-bottom: 15px;
}

#centralaz-login {
    padding: 20px;
    float: left;
    width: 430px;
    border-right: 1px solid #e5e5e5;
}

.fb-auth {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    width: 420px;
}

.fb-auth > div {
    display: none;
    top: 0 !important;
    font-size: 14px;
    width: 430px;
}

.fb-auth > #user-info {
    position: absolute;
}

.fb-auth p {
    padding: 10px 0px;
}

.ui-widget { font-family: Helvetica,Arial,sans-serif; font-size: 14px; }
.ui-widget :active { outline: none; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 7px; -webkit-border-top-left-radius: 7px; -khtml-border-top-left-radius: 7px; border-top-left-radius: 7px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 7px; -webkit-border-top-right-radius: 7px; -khtml-border-top-right-radius: 7px; border-top-right-radius: 7px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 7px; -webkit-border-bottom-left-radius: 7px; -khtml-border-bottom-left-radius: 7px; border-bottom-left-radius: 7px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 7px; -webkit-border-bottom-right-radius: 7px; -khtml-border-bottom-right-radius: 7px; border-bottom-right-radius: 7px; }

div.ui-state-error {
    padding: 20px;
    margin: 10px 0px;
    float: none;
    clear: both;
}

    div.ui-state-error > p {
        padding: 0px;
        margin: 0px;
    }

.recentblog img {
    border: 4px solid #FFFF00;
}

.sliderImage div {
    background-color: #00FF00;
}

.sliderImage span, .sliderImage a, .sliderImage a:visited {
    color: #FF00FF;
}